.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row {
    width: 90vw;
    max-width: 1170px;
    margin: 1rem auto;
    background: #fff;
    border-radius: 0.25rem;
    padding: 3rem;
    /* border: 1px solid black; */
}
.row {
    max-width: 500px;
    /* background-color: #fff; */
}
.col-sm {
    background-color: #fff;
}
.form {
    background-color: #fff;
}
.heading{
    margin-bottom: 2rem;
    text-align: center;
    background-color: #fff;
}
.form-controll {
    margin-bottom: 2rem;
    background-color: #fff;
}
.form-controll label {
    display: block;
    text-transform: capitalize;
    font-weight: 500;
    color: hsl(209, 34%, 30%);
    margin-bottom: 0.5rem;
    background-color: #fff;
}
.form-input {
    border: none;
    background: hsl(210, 36%, 96%);
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    /* background-color: #fff; */
}
.error p {
    color: hsl(360, 67%, 44%);
    text-transform: capitalize;
    background-color: #fff;
  }
  .submit-btn {
    width: 100%;
    margin-top: 3rem;
    background-color: yellow;
    padding: 5px;
  } 

  